#contact-form{
    max-width: 600px !important;
    margin: auto;
}
.main-area {
    background-image: url("./images/pexels-shelagh-murphy-1666816.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}

.contactTitle{
    margin: auto;
    padding-top: 30vh;
    
    text-decoration: underline;
    font-size: 7vmin;
    color: aliceblue;

}

@media (max-width: 768px) {
    #contact-form{
        max-width: 700px !important;
        margin: auto;
    }
}

@media (max-width: 480px) {
    #contact-form{
        max-width: 80vw;
        margin: auto;

        margin-top: 80px;
    }
}

.contact-info{
    padding-top: 40px;
}

#contact-form{
    margin: 4rem auto;
}

@media (max-width: 768px){
    .row{
        max-width: 90vw;
    margin: auto !important;
    }
}

.form-group>label{
    margin: 20px auto;
    font-weight: 600 !important;
    font-size: 2rem;
}

.form-group>.form-control{
    text-align: center;
}

input, textarea{
    font-size: 15px;
    padding: 10px !important;
    border-radius: 20px !important;
    border: none;
}

.btn-submit{
    margin-top: 20px;
}

