body{
    text-align: center;
    background-color: rgb(216, 214, 214) !important;
}
body, html{
    overflow-x: hidden;
}

#location{
    padding: 10vh;
}

.section-title{
    font-size: 3rem !important;
}
#map{
    margin: auto;
    margin-top: 50px!important;
    border-radius: 30px !important;
}

@media (min-width: 350px) {
    #map{
        width: 100vw;
        height: 40vh;
        margin: auto;
        padding: 0;
    }
    .section-title{
        font-size: 2rem !important;
    }
}
@media (min-width: 800px) {
    #map{
        width: 70vw;
        height: 40vh;
        margin: auto;
        padding: 0;
    }
}
#events{
    margin-top: 50px;
}

.line{
    width: 150px;
    height: 4px;
    background-color: rgb(87, 77, 95);
    margin: 10px auto;
}

.event{
    padding: 20px;
}

.event > .lead{
    max-width: 90% !important;
    text-align: center !important;
    margin: auto;
}

#about{
    padding-top: 50px !important;
    background-image: url("./images//pexels-luis-quintero-2351719.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 50px;
    width: 100%;
    height: 70vh;
    color: aliceblue;
}


.event-image{
    width: 90%;
    height: 400px;
    object-fit: contain;
    padding: 0;
}

@media (min-width: 1400px) {
    .event-image{
        margin-bottom: 40px;
    }
    .event{
        margin: 40px auto !important;
    }
}

@media (max-width: 465px) {
    .event-image{
        margin-bottom: 10px;
    }
    .event{
        margin: 10px auto !important;
    }
}

.designer{
    margin-top: 20px !important ;
}