.main-area {
    background-image: url("./images//backgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;

    /* width: 100%; */
    /* background-image: linear-gradient(rgba(12,3,51,0.8),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%; */


    display: flex;
    justify-content: center;
    align-items: center;
}

/* .background-video{
    background-size: cover;
    background-position: center; 
    height: 90vh;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
} 

.landingArea-text{
    color:aliceblue;
}*/

@media (min-width:769px){
    .landingArea-text{
        max-width: 70vw;
    }
    .background-video{
    width: 100%;
    }
}

.welcome-text{
    font-size: 7vmin;
}